# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
.env/

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

extracted_unzip/
unzip_me_for_instructions.zip